{% extends "bootstrap/base.html" %}
{% block title %}Страница статистики АТС Infinity{% endblock %}

 
{% block body %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Страница статистики АТС Infinity</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 container">
        <h2><B>Группы</B></h2>
        <div id="divGroups">
         
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>
    <!-- End row -->
    <!-- Row for stat-->
    <div class="row">
      <div class="col-md-12" >
        <h2><B>Очередь</B></h2>
          <div id="divQueues">
       
          </div>
      </div>
  </div>
  <!-- End row -->
    <!-- Row for stat-->
    <div class="row">
        <div class="col-md-12" >
          <h2><B>Статистика</B></h2>
            <div id="divStats">
         
            </div>
        </div>
    </div>
    <!-- End row -->
  </div>

  


  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script type="text/javascript">
    function addCallGroups( data ) 
    {
      var j = 0;
      var html = '';
      var html = `<table class="table border table-sm">
        <thead class="thead-light">
          <tr>
            <th scope="col" colspan="5">${data.groupname}</th>
          </tr>
          <tr>
          <th class="border" scope="col">#</th>
          <th class="border" scope="col">Фамилия</th>
          <th class="border" scope="col">Имя</th>
          <th class="border" scope="col">Отчество</th>
          <th class="border" scope="col">Логин</th>
          </tr>
        </thead>`;
        //console.log( data );
        //console.log( data.groupname );
        $.each( JSON.parse(data.members), function(i, member ) {
        //console.log( member.Login );
        j++;
        html += `<tr>
          <th scope="row"> ${j} </td>
          <td> ${member.Name_F} </td>
          <td> ${member.Name_I} </td>
          <td> ${member.Name_O} </td>
          <td> ${member.Login} </td>
        </tr>`;
      });
      html += '</table>';
      $("#divGroups").append(html);
    };

    function addStatistics( groupsCount, data ) 
    {
      var j = 0;
      var html = '';
      var html = `<table id="tStats" class="table border table-sm">
        <thead class="thead-light">
          <tr>
          <th scope="col" rowspan="2"></th>
          <th class="border" scope="col" colspan="${groupsCount}">Группа</th>
          </tr>
          <tr>`;
      $.each( data, function(i,v) {    
        html += `<th class="border" scope="col">${v.ANumberDialed}</th>`;
      });
      html += `</tr> </thead>`;
      html += '</table>';
      $("#divStats").append(html);
      var tableRef = document.getElementById("tStats");
      var aKeys = Object.keys(data[0]);
      for(var k= 1; k < aKeys.length; k++)
      {
        var newRow = tableRef.insertRow(k+1);
        var newCell = newRow.insertCell(0);
        var key = aKeys[k];
        var newText = document.createTextNode(key);
        newCell.appendChild(newText);
        for(var j = 0; j < groupsCount; j++)
        {
          var newCell = newRow.insertCell(j+1);
          var newText = document.createTextNode(data[j][key]);
          newCell.appendChild(newText);
        };
      };
    };

    function getAJAXdata(){
      console.log( '1' );
      $.post("/get_data", function( data ){
          //Обрабатываем группы
          $("#divGroups").empty();
          $.each( data.CallGroups, function(i, group){
            addCallGroups( group );
          });
          //console.log( typeof data );
        }, "json");
        
      $.post("/get_stats", function( data ){
        //console.log( typeof data);
        //console.log( JSON.parse(data));
        data = JSON.parse(data)
        groupsCount = data.length;
        $("#divStats").empty();
        addStatistics( groupsCount, data );
      }, "json");
    }
    //Запрашиваем данные каждые 30 секунд
    getAJAXdata();
    setInterval(function(){getAJAXdata()}, 30000);
  </script>
{% endblock %}